/* 
Jensly Francisco
Dr. Rochelle Elva
Assignment 3 
CIS 3003
4/6/17
*/

body {
		 background: url("cake.jpg") no-repeat fixed;
		 background-repeat: no-repeat;
		 -webkit-background-size: cover;
		 -moz-background-size: cover;
		 -o-background-size: cover;
		 background-size: cover;
     }
	 
p {
	text-align: center;
}